body{
	background: #B2DBD5;
	color: #555555;
	padding: 20px;
	text-align: center;
  }

.white-box{
	background: #FFFFFF;
	display: inline-block;
	width: 850px;
	background:url("./image/background.jpg")
}

.title{
	font-size: 35px;
	font-weight: bold;
	margin: 10px;
	color: white;
  }

  button{
	background: #257985;
	border-radius: 30px;
	color: #FFFFFF;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 300px;
  }